<link href="~/Content/artistindex.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />

@model MusicDatafirstMVCApp.Models.Album


@{
    ViewBag.Title = "Details";
}



<div class="row">
    <div class="col-md-3">
        <div class="thumbnail">
            <div class="caption">
        
        <p>
            @Html.DisplayNameFor(model => model.AlbumName):@Html.DisplayFor(model => model.AlbumName)
        </p>
        <p><img src="@Html.DisplayFor(model => model.Photo)" height="100" width="100" /></p>
        <p>@Html.DisplayNameFor(model => model.ReleaseDate):@Html.DisplayFor(model => model.ReleaseDate)</p>

        <p>@Html.DisplayNameFor(model => model.Label): @Html.DisplayFor(model => model.Label)</p>
        <p>@Html.DisplayNameFor(model => model.WonGrammy):@Html.DisplayFor(model => model.WonGrammy)</p>

        <p> @Html.DisplayNameFor(model => model.Artist.ArtistName): @Html.DisplayFor(model => model.Artist.ArtistName)</p>
        <p>
            <img src="@Html.DisplayFor(model=> model.Artist.Photo)" height="100" width="100" />
        </p>


        <p>
           <a class="btn btn-default"href="@Url.Action( "Edit", new { id = Model.AlbumID }) ">Edit</a>
            <a class="btn btn-default"href="@Url.Action("Index","Albums")">Go back</a>
        </p>
    </div>
</div>
</div>
</div>