<link href="~/Content/artistindex.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
@model IEnumerable<MusicDatafirstMVCApp.Models.Album>

@{
    ViewBag.Title = "Index";
}


<p>
    <a class="btn btn-default" href="@Url.Action( "Create", "Albums" )">Create New</a>
</p>

<div class="row">
    @foreach (var item in Model)
    {
        
        
    <div class="col-md-4">
        <div class="thumbnail">
            <div class="caption">

                <p>
                    @Html.DisplayNameFor(model => model.AlbumName): @Html.DisplayFor(modelItem => item.AlbumName)
                </p>
                @*<p>
                    @Html.DisplayNameFor(model => model.ReleaseDate):  @Html.DisplayFor(modelItem => item.ReleaseDate)
                </p>*@
                @*<p>
                    @Html.DisplayNameFor(model => model.Label): @Html.DisplayFor(modelItem => item.Label)
                </p>*@
                <p>
                    @Html.DisplayNameFor(model => model.WonGrammy):@Html.DisplayFor(modelItem => item.WonGrammy)
                </p>
                <p>
                    <img src="@Html.DisplayFor(modelItem => item.Photo)" height="100" width="100" />
                </p>
                <p>
                    @Html.DisplayNameFor(model => model.Artist.ArtistName): @Html.DisplayFor(modelItem => item.Artist.ArtistName)
                </p>

                <p>
                    <a class="btn btn-default" href=" @Url.Action( "Edit", new { id=item.AlbumID })">Edit</a>
                    <a class="btn btn-default" href=" @Url.Action( "Details", new { id=item.AlbumID })">Details</a>
                    <a class="btn btn-default" href=" @Url.Action( "Delete", new { id = item.AlbumID })">Delete</a>
                </p>
            </div>
        </div>
    </div>

    }
</div>
