<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/artistindex.css" rel="stylesheet" />
@model IEnumerable<MusicDatafirstMVCApp.Models.Artist>

@{
                /**/

                ViewBag.Title = "Index";
}

<p>
   <a class="btn btn-default" href=" @Url.Action("Create", "Artists")">Create New</a>
</p>
<div class="row">
    @foreach (var item in Model)
    {

        <div class="col-md-4">
            <div class=" thumbnail">
                <div class="caption">

                    <p>
                        @Html.DisplayNameFor(model => model.ArtistName): @Html.DisplayFor(modelItem => item.ArtistName)
                    </p>
                    <p>
                        <img src="@Html.DisplayFor(modelItem => item.Photo)" height="100" width="100" />
                    </p>
                    <p>
                        <a class="btn btn-default" href="@Url.Action( "Edit", new { id = item.ArtistID }) ">Edit</a>
                        @*<a class="btn btn-default" href=" @Url.Action("Details", new { id = item.ArtistID }) ">Details</a>*@
                        <a class="btn btn-default" href=" @Url.Action( "Delete", new { id = item.ArtistID })">Delete</a>
                    </p>
                </div>
            </div>
        </div>


    }
</div>

       